.registration {
    display: flex;
    padding-top: 64px;
    padding-bottom: 96px;
    justify-content: space-between;

    &-form {
        width: 32%;

        &__form {
            display: flex;
            flex-direction: column;

            &__item {
                display: flex;
                flex-direction: column;
                gap: 20px;

                &__title {
                    @include font(#222, 16px, 300);

                }

                &__input {
                    width: 360px;
                    height: 45px;
                    border: 1px solid #A4A4A4;
                    @include font(#000, 13px, 400);
                    font-family: Lato;
                    padding-left: 16px;
                    padding-right: 16px;


                }

                &__input::-webkit-input-placeholder,
                textarea::-webkit-input-placeholder {
                    @include font(#B1B1B1, 13px, 300);
                }

            }

            &__radio {
                padding-top: 33px;
                padding-bottom: 33px;
                display: flex;
                gap: 20px;

                &__label {
                    display: flex;
                    gap: 10px;
                    @include font(#000, 11px, 300);
                }
            }

            &__text {
                padding-top: 15px;
                padding-bottom: 39px;
                @include font(#B1B1B1, 13px, 300);
            }

            &__button {
                width: 167px;
                height: 50px;
                background-color: #F16D7F;
                border: none;
                @include font(#fff, 14px, 400);
                transition: 0.3s;

                span {
                    margin-right: 20px;
                }
            }

            &__button:hover {
                background-color: #fff;
                color: #F16D7F;
                border: 1px solid #A4A4A4;

                path {
                    fill: #F16D7F;
                }
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        gap: 22px;
        width: 57%;

        &__title {
            @include font(#000, 24px, 300);
        }

        &__text {
            @include font(#000, 24px, 300);
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 16px;
            @include font(#000, 24px, 300);

            &__item1::after {
                content: "15% off welcome offer";
            }

            &__item2::after {
                content: "Free shipping, returns and exchanges on all orders";
            }

            &__item3::after {
                content: "$10 off a purchase on your birthday";
            }

            &__item4::after {
                content: "Early access to products";
            }

            &__item5::after {
                content: "Exclusive offers & rewards";
            }

            &__item1,
            &__item2,
            &__item3,
            &__item4,
            &__item5 {
                display: flex;
                gap: 22px;
                align-items: center;
            }

        }
    }


}

@media (min-width: 768px) and (max-width: 1024px) {
    .registration {
        padding-top: 40px;

        &-form {
            width: 48%;

        }

        &-content {
            width: 48%;
            gap: 22px;

            &__title {
                font-size: 16px;
                margin-bottom: 6px;
            }

            &__text {
                font-size: 16px;
            }

            &__list {
                font-size: 16px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .postheader {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .registration {
        flex-direction: column;
        padding-top: 40px;


        &-form {
            width: unset;
            margin-bottom: 40px;
        }

        &-content {
            width: unset;

            &__title {
                font-size: 16px;
            }

            &__text {
                font-size: 16px;
            }

            &__list {
                font-size: 16px;
            }
        }
    }
}