* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

img {
  max-width: 100%;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  background-color: #222;
}

.center__header {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header__logo {
  width: 44px;
  height: 38px;
  flex-shrink: 0;
  margin-top: 18px;
  margin-bottom: 19px;
}

.header__search {
  margin-top: 28px;
  margin-bottom: 20px;
}

.flex__header {
  display: flex;
  justify-content: space-between;
}

.right__header {
  margin-top: 26px;
  margin-bottom: 20px;
}

.right__headerMobile {
  display: none;
}

.left__header {
  display: flex;
  justify-content: space-between;
  gap: 41px;
}

.cover {
  margin-bottom: 65px;
  display: flex;
  background: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}

.image__cover {
  width: 50%;
}
.image__cover .foto__model {
  max-width: 100%;
}

.heading__cover {
  margin-left: 63px;
}

.title__block {
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  margin-top: 48%;
}

.title__cover {
  color: #222;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.subtitle__cover {
  color: #222;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subtitle__pink {
  color: #F16D7F;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.item__content {
  position: relative;
}

.text__content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 14;
  background: rgba(33, 22, 22, 0.7);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text__content:hover {
  background: rgba(231, 169, 169, 0.2);
}

.first__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 96px;
}

.horisontal {
  grid-column: span 3;
}

.text__pink {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 105px;
}

.long__block {
  margin-top: 65px;
}

.second__title {
  color: #222;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title__text {
  color: #9F9F9F;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.flex__second {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.second__heading {
  margin-bottom: 48px;
}

.product__block {
  background-color: #F8F8F8;
  position: relative;
}

.title__description {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product__foto {
  margin-bottom: 25px;
  position: relative;
}

.add__cart {
  display: none;
}

.text__cart {
  color: #FFFFFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product__foto:hover .product__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 56, 56, 0.86);
}

.product__foto:hover .add__cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11px;
  border: #FFFFFF 1px solid;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-right: 12px;
  padding-left: 13px;
  position: absolute;
  top: 188px;
  left: 110px;
}

.product__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.text__description {
  color: #5D5D5D;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 314px;
}

.price {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}

.product__board {
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.button__browse {
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border-color: #F26376;
  padding: 15px 39px 14px 39px;
  border-style: solid;
  border-width: 1px;
}

.button__browse:hover {
  color: #FFF;
  background-color: #F26376;
}

.button__block {
  margin-bottom: 95px;
  text-align: center;
}

.dark__content {
  background-color: #222224;
  padding-top: 103px;
  padding-bottom: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.dark__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dark__icon1 {
  margin-bottom: 28px;
}

.dark__icon2 {
  margin-bottom: 19px;
}

.dark__icon3 {
  margin-bottom: 25px;
}

.dark__subtitle {
  color: #FBFBFB;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 16px;
}

.dark__text {
  color: #FBFBFB;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  width: 85%;
}

.prefooter__content {
  background-image: url(../img/prefooter_fon.png);
  background-position: bottom;
  background-size: cover;
  position: relative;
  padding-top: 97px;
  padding-bottom: 126px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 322px;
}

.prefooter__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(244, 244, 244, 0.7);
}

.prefooter__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  position: relative;
}

.prefooter__image {
  margin-bottom: 30px;
}

.prefooter__text {
  color: #222224;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.italic__text {
  font-style: italic;
}

.header__block {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prefooter__header {
  color: #222224;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  line-height: 167.2%;
  /* 40.128px */
}

.prefooter__subtitle {
  color: #222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 167.2%;
}

.prefooter__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prefooter__input {
  width: 250px;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
  padding-left: 22px;
  padding-right: 22px;
}

.prefooter__button {
  width: 100px;
  height: 49px;
  background-color: #E05C6E;
  border: none;
  border-radius: 0 25px 25px 0;
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.footer {
  background-color: #222224;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 655px;
}

.footer__content {
  color: #FBFBFB;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
}

.icons {
  background-color: #FFF;
  width: 31px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons:hover {
  background-color: #F16D7F;
}

.icons:hover path {
  fill: #FFF;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 368px);
    padding-right: calc(50% - 368px);
  }
  .product__board {
    gap: 16px;
    margin-bottom: 32px;
  }
  .first__content {
    gap: 19px;
    margin-bottom: 109px;
  }
  .cover {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 384px);
  }
  .center__header {
    padding-left: calc(50% - 352px);
    padding-right: calc(50% - 352px);
  }
  .title__cover {
    font-size: 44px;
  }
  .subtitle__cover {
    font-size: 24px;
  }
  .subtitle__pink {
    font-size: 24px;
  }
  .heading__cover {
    margin-left: 39px;
  }
  .text__block {
    margin-top: 58px;
  }
  .long__block {
    margin-top: 33px;
  }
  .button__block {
    margin-bottom: 70px;
  }
  .dark__content {
    flex-direction: column;
    gap: 48px;
    padding-bottom: 64px;
    padding-top: 48px;
  }
  .dark__text {
    width: 65%;
  }
  .prefooter__content {
    background-image: url(img/prefooter_fonTablet.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding-top: 64px;
    padding-bottom: 140px;
  }
  .prefooter__block {
    width: 52%;
  }
  .header__block {
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 305px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .center {
    padding-left: calc(50% - 179px);
    padding-right: calc(50% - 179px);
  }
  .center__header {
    padding-left: calc(50% - 179px);
    padding-right: calc(50% - 179px);
  }
  .image__cover {
    display: none;
  }
  .right__header {
    display: none;
  }
  .right__headerMobile {
    display: block;
    margin-top: 25px;
    margin-bottom: 26px;
    margin-right: 16px;
  }
  .left__header {
    margin-left: 16px;
  }
  .title__cover {
    font-size: 38px;
  }
  .subtitle__cover {
    font-size: 20px;
  }
  .subtitle__pink {
    font-size: 20px;
  }
  .heading__cover {
    margin-top: 148px;
    margin-bottom: 149px;
  }
  .title__block {
    margin-top: 0;
  }
  .first__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 64px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .image__content1,
  .image__content2,
  .image__content3,
  .image__content4 {
    display: none;
  }
  .long__block {
    margin-top: 30px;
  }
  .flex__second {
    gap: 3px;
  }
  .second__heading {
    margin-bottom: 64px;
  }
  .product__board {
    gap: 16px;
    margin-bottom: 40px;
  }
  .button__block {
    margin-bottom: 85px;
  }
  .item__content {
    background-position: top;
    background-size: cover;
    height: 247px;
  }
  .content1 {
    background-image: url(../img/foto_content1.png);
  }
  .content2 {
    background-image: url(../img/foto_content2.png);
  }
  .content3 {
    background-image: url(../img/foto_content3.png);
  }
  .horisontal {
    background-image: url(../img/foto_content4.png);
    height: 111px;
    background-size: cover;
    background-position: center;
  }
  .dark__content {
    flex-direction: column;
    gap: 46px;
    padding-bottom: 81px;
    padding-top: 48px;
  }
  .dark__text {
    width: 85%;
  }
  .dark__icon1 {
    margin-bottom: 27px;
  }
  .dark__icon2 {
    margin-bottom: 18px;
  }
  .dark__icon3 {
    margin-bottom: 24px;
  }
  .dark__subtitle {
    margin-bottom: 14px;
  }
  .prefooter__content {
    background-image: url(img/prefooter_fonTablet.png);
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 59px;
    padding-top: 64px;
    padding-bottom: 109px;
  }
  .prefooter__block {
    width: 80%;
  }
  .prefooter__text {
    font-size: 18px;
  }
  .header__block {
    margin-bottom: 24px;
  }
  .prefooter__subtitle {
    font-size: 14px;
  }
  .prefooter__input {
    height: 46px;
  }
  .prefooter__button {
    height: 46px;
  }
  .prefooter__image {
    height: 91px;
  }
  .footer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding-top: 43px;
    padding-bottom: 9px;
  }
  .footer__content {
    margin: 0;
  }
}
.postheader {
  background-color: #F8F3F4;
  padding-top: 59px;
  padding-bottom: 60px;
}
.postheader__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.postheader__content .postheader__header {
  color: #F16D7F;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.postheader__content .breadcrumbs__link {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.postheader__content .breadcrumb__select {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.product {
  background-color: #F7F7F7;
  padding-top: 11px;
  padding-bottom: 42px;
  border: 1px solid #EAEAEA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.product__leftarrow, .product__rightarrow {
  width: 47px;
  height: 47px;
  background-color: rgba(42, 42, 42, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}
.product__info {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  position: absolute;
  top: 712px;
  left: 230px;
  right: 230px;
}
.product__info .info__subtitle {
  margin-bottom: 12px;
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__info .info__shortborder {
  margin-bottom: 12px;
}
.product__info .info__title {
  margin-bottom: 48px;
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__info .info__description {
  margin-bottom: 32px;
  color: #5E5E5E;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  padding-left: 293px;
  padding-right: 293px;
}
.product__info .info__price {
  margin-bottom: 65px;
  color: #EF5B70;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.product__info .info__longborder {
  margin-bottom: 65px;
}
.product__info .product__property {
  margin-bottom: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}
.product__info .product__property .property__element {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 9px;
}
.product__info .info__button {
  color: #F26376;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #FFF;
  border: 1px solid #F16D7F;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
  padding: 15px 57px 9px 24px;
}

.another__products {
  margin-top: 664px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-bottom: 128px;
}/*# sourceMappingURL=style.css.map */