$ColorSelection: #F16D7F;
$fontfamily: Lato;
$color: white;
$fontsize: 48px;
$fontweight: 900;
$width: 570px;
$flex-direction: column;
$align-items: center;
$gap: 30px;
$justifycontent: space-between;